body {
    background-color: #e0e0e0;
    min-width: 320px !important;
    font-family: 'Roboto', sans-serif;
}

/* ==== FIXED TOP BAR ==== */

.navbar {
    background-color: white;
    margin-bottom: 0px;
    box-shadow: 0px 4px 6px #6441a4;
}

#brand {
    font-weight: 700;
    color: #6441a4;
    margin-bottom: 0px;
}

#made-with {
    font-weight: 400;
    margin-bottom: 3px;
    margin-top: 3px;
}

.fa-heart {
    color: #f03030
}


/* === LIST GROUP === */

.list-group {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5px;
}


/* ==== LIST ITEM ==== */

.logo {
    margin-right: 10px;
}

.display-name {
    font-weight: 600;
}

.label {
    font-weight: 300;
}

.preview {
    width: 100%;
}


/* PREVIEW IMAGE EFFECT ON HOVER */

.hover img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover img:hover {
    opacity: .5;
}


/* ====== RESPONSIVITY ====== */

@media only screen and (min-width: 320px) and (orientation: portrait) {
    /* smartphones, iPhone, portrait 480x320 phones */
    body {
        padding-top: 62px;
    }
    .container {
        padding: 0 0 0 0;
    }
    #brand {
        font-size: 1.5em;
    }
    #made-with {
        font-size: 0.8em;
    }
    .logo {
        max-width: 3.5em;
        max-height: 3.5em;
    }
    .display-name {
        font-size: 0.8em;
    }
    .label {
        font-size: 0.8em;
    }
    .activity {
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 360px) and (orientation: portrait) {
    .display-name {
        font-size: 1em;
    }
}

@media only screen and (min-width: 412px) and (orientation: portrait) {
    #made-with {
        font-size: 0.9em;
    }
    .logo {
        max-width: 4em;
        max-height: 4em;
    }
    .display-name {
        font-size: 1.1em;
    }
    .label {
        font-size: 0.8em;
    }
    .activity {
        font-size: 1em;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    body {
        padding-top: 74px;
    }
    .container {
        margin: 0 auto;
        width: 90%;
    }
    #brand {
        font-size: 2em;
    }
    #made-with {
        font-size: 1em;
    }
    .display-name {
        font-size: 1.2em;
    }
    .label {
        font-size: 1em;
    }
}

@media only screen and (min-width: 360px) and (orientation: landscape) {
    body {
        padding-top: 67px;
    }
    .container {
        width: 80%;
    }
    .list-group {
        margin: 1em;
    }
    #brand {
        font-size: 1.6em;
    }
    #made-with {
        font-size: 1em;
    }
    .logo {
        max-width: 3em;
        max-height: 3em;
    }
    .display-name {
        font-size: 1.2em;
    }
    .label {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 1200px) and (orientation: landscape) {
    .container {
        width: 60%;
    }
}

/* ======== PACE ========= */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #8844ee;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}